
.section-assistance {
    width: 100%;
    height: auto;

    .section-assistance_1 {
        padding-top: 30px;
        color: #FF64AE;
        text-align: center;
        font-size: 16px;
        // 
        font-weight: 600;
        line-height: 125%;
    }

    .section-assistance_2 {
        color: #091156;
        text-align: center;
        font-size: 36px;
        // 
        font-weight: 600;
        line-height: 125%;
    }


    .section-assistance_3 {
        color: #8B8B8B;
        text-align: center;
        font-size: 16px;
        
        letter-spacing: 1.6px;
    }

    .section-assistance_4 {

        width: 73px;
        height: 73px;
        padding-top: 50px;
        margin: auto;


    }

    .section-assistance_5 {
        display: flex;
        width: 600px;
        height: 120px;
        padding-top: 40px;
        margin: auto;

        color: #8B8B8B;
        text-align: center;
        font-size: 14px;
        
        letter-spacing: 1.4px;

        button {
            margin-top: 30px;
        }

        .b {
            width: 534px;
            height: 120px;
            padding: 0 40px 0 40px;
        }
    }

    .section-assistance_6 {
        width: 169px;
        height: 25px;
        margin:0 auto;
        margin-bottom: 40px;
    }

}

.meet-team {
    display: flex;
    margin-top: 100px;

    .meet-team_left {

        margin-left: 150px;
    }

    .meet-team_right {
        margin-left: 170px;
        margin-top: 85px;

        .meet-team_right_top {
            display: flex;
            color: #091156;
            font-size: 18px;
            
            font-weight: 600;
            line-height: 125%;

            p {
                color: #8B8B8B;
                font-size: 14px;

            }
        }

        .meet-team_right_bottom {
            padding-top: 40px;
            color: #8B8B8B;
            font-size: 16px;
            
            letter-spacing: 1.6px;
            width: 350px;
        }
    }

}


.section-bg-team {
    margin-top: 50px;
    height: 528px;
    background-image: url(../servicePage/img/BG-service-1.png), url(./img/BG-team.png);
    background-size: contain;
    background-repeat: no-repeat;



    .bg-team {
        padding: 150px 0 0 100px;

        .section-bg-team1 {

            color: #FFF;
            text-align: center;
            font-size: 36px;
            
            font-weight: 600;
            line-height: 125%;

        }

        .section-bg-team2 {
            color: #CACACA;
            text-align: center;
            font-size: 16px;
            
            letter-spacing: 1.6px;


        }
    }
}