.section-our-services {
    width: 1263px;
    height: 853px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url(./img/BG-service.png);
    background-size: cover;

    background-repeat: no-repeat;


    .section-our-services_1 {
        color: #FF64AE;
        text-align: center;
        font-size: 16px;
        
        font-weight: 600;
        line-height: 125%;
    }

    .section-our-services_2 {
        padding: 15px;
        color: #091156;
        text-align: center;
        font-size: 36px;
        
        font-weight: 600;
        line-height: 125%;
    }


    .section-our-services_3 {
        padding: 15px;
        color: #8B8B8B;
        text-align: center;
        font-size: 16px;
        
        letter-spacing: 1.6px;
        padding-bottom: 60px;
    }

    .flex-container {
        display: flex;
        width: 1000PX;
        height: 277px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;

        }

        .flex-container_1 {

            margin: 20px;
        }

        .flex-container_2 {

            margin: 20px;
        }
    }
}

.section-beauty {
    display: flex;
    width: 1000px;
    height: 314px;
    // background-color: #09b74f;
    margin: 0 auto;

    .section-beauty_left {
        width: 475px;
        height: 314px;
        background-image: url(./img/Vector-service.png);
        background-size: contain;
        background-repeat: no-repeat;

        img {
            width: 70%;
            height: 80%;
        }
    }

    .section-beauty_right {
        width: 465px;
        padding: 10px;

        .section-beauty_right_1 {
            color: #FF64AE;
            font-size: 16px;
            
            font-weight: 600;
            line-height: 125%;
        }

        .section-beauty_right_2 {
            padding-top: 10px;
            color: #091156;
            font-size: 36px;
            
            font-weight: 600;
            line-height: 125%;
        }

        .section-beauty_right_3 {
            color: #8B8B8B;
            font-size: 16px;
            
            letter-spacing: 1.6px;
        }

        .section-beauty_right_4 {
            padding-top: 40px;
            color: #091156;
            font-size: 16px;
            
            font-weight: 600;
            letter-spacing: 1.6px;
            display: flex;

            svg {
                padding-left: 5px;
            }
        }

    }

}

.section-slogan {
    width: 100%;
    height: 529px;
    background-image: url(./img/BG-service-1.png), url(./img/BG-service-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    .slogan {
        width: 900px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        margin-top: 165px;

        .slogan-tittle {


            .slogan-tittle-1 {

                color: #FFF;
                font-size: 36px;
                
                font-weight: 600;
                line-height: 125%;
            }

            .slogan-tittle-2 {
                padding: 30px 0;

                color: #CACACA;
                font-size: 16px;
                
                letter-spacing: 1.6px;
            }
        }

        // .slogan-button img {
        //     width: 50%;
        //     height: 50%;
        // }

    }


}

.section-FQA {
    width: 900px;
    height: 552px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
   


    .fqa-title-1 {
        color: #091156;
        text-align: center;
        font-size: 36px;
        
        font-weight: 600;
        line-height: 125%;
        height: 45px;
    }

    .fqa-title-2 {
        margin-left: 410PX;

        svg {}
    }

    .fqa-title-3 {
        padding: 20px 0;
        color: #091156;
        font-size: 16px;
        
        font-weight: 600;
        letter-spacing: 1.6px;
        svg{
            float: right;
        }
    }

    .fqa-title-4 {
        width: 100%;
        height: 216px;
        border-radius: 0px 0px 20px 20px;
        background: #F6F7FF;
        border-top: 2px solid #091156;;  
        color: #8B8B8B;
        font-size: 14px;
        
        font-style: italic;
        letter-spacing: 1.4px;
       
        
        .fqa-title-41 {
           padding: 50px;
           
        }
        .fqa-title-42 {
            width: 700px;
            padding-left: 50px;
            
         }

    }

    .fqa-title-5 {
        svg{
            float: right;

        }
        padding: 20px 0;
        color: #091156;
        font-size: 16px;
        
        font-weight: 600;
        letter-spacing: 1.6px;
    }

    .fqa-title-6  {
        svg{
            float: right;

        }
        padding: 20px 0;
        color: #091156;
        font-size: 16px;
        
        font-weight: 600;
        letter-spacing: 1.6px;
    }

    .fqa-title-7 {
        svg{
            float: right;

        }
        padding: 20px 0;
        color: #091156;
        font-size: 16px;
        
        font-weight: 600;
        letter-spacing: 1.6px;
    }
}


